body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #565449;
    background: #7a0e19;

}

header {
    text-align: left;
    background: ;
    text-decoration: wavy;
    margin-bottom: 30px;
}
a {
    text-align: left;
    color: #fff;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}
#about {
    padding: 25px;
    background: #f8f8f8;
    padding: 30px;
    margin: 20px;
    border-radius: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0 ,0, 0.3);
}

h2 {
    text-align-last: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 150px;
    padding: 3rem;
    justify-content: center;


}
.project-card img {
    width: 100%;
    height: 60%;
    justify-content: center;
    
}

   
.project-card {
    width: 400px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0 ,0, 0.3);
    background: #f6d9b6;
    height: 350px; 
    justify-content: center;
    
 
   
}
h4 {
     color: black;
    
}
.project-card:hover {
    background-color: #fff4e3;
    cursor: pointer;
    transform: scale(1.05);
}

